html {
  font-family: Nunito, system-ui, BlinkMacSystemFont, -apple-system, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  line-height: 1.15;
  margin-right: 185px;
  margin-left: 185px;
  border: 0 solid currentColor;
}
header {
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
}
ul {
  list-style-type: none;
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0%;
  box-sizing: inherit;
}
li {
  margin-right: 40px;
}
.section-1 {
  align-items: center;
  padding-bottom: calc(4rem + 175px);
}
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 7rem 0;
  box-sizing: inherit;
  flex: 1;
}
.container-flex-item1 {
  width: 50%;
  display: block;
  padding-top: 0%;
  margin-right: 2.5rem;
  flex-basis: 45%;
}
.container-flex-item2 {
  width: 50%;
  flex-basis: 43%;
}
.section1-btn {
  display: flex;
}
.btn-primary {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  padding: 0.8rem 2rem;
  background: #4099de;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  font-size: 1.1rem;
  margin-right: 1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  width: auto;
  flex-shrink: 0;
}
.btn-secondary {
  font-weight: 700;
  box-sizing: inherit;

  font-size: 1.1rem;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  padding: 0.8rem 2rem;
  color: #4099de;
  height: 3rem;
  flex-shrink: 0;
}
.section1-Header {
  font-weight: 300;
  font-size: 3rem;
  text-align: left;
  color: #26425f;
}
.section1-p {
  display: block;
  line-height: 1.5em;
}
.section-2 {
  background-color: #26425f;
}
.img-section {
  display: block;
  width: 100%;
  align-items: center;
}
.section2-img {
  max-width: 100%;
  height: auto;
  margin-top: -175px;
  border-style: solid;
  border-radius: 0.5rem;
}
.section2-p {
  color: #ffffff;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 2.5rem;
}
.section2-feaures {
  display: flex;
  justify-content: space-evenly;
}
.section2-feaures-1 {
  align-items: flex-start;
  padding-right: 1rem;
  padding-left: 1rem;
  flex-basis: 33.33%;
}
.section2-feaures-2 {
  align-items: flex-start;
  flex-basis: 33.33%;
  padding-right: 1rem;
}
.section2-feaures-3 {
  align-items: flex-start;
  flex-basis: 33.33%;
  padding-right: 1rem;
  padding-left: 1rem;
}
.features-text {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.12rem;
}
.features-svg1 {
  width: 48;
  overflow: hidden;
}
.features-svg2 {
  width: 48;
  overflow: hidden;
}
.features-svg3 {
  width: 48;
  overflow: hidden;
}
.features-p {
  color: #aaf1ff;
  line-height: 1.5;
}
.section3 {
  display: block;
  padding-right: 2.5rem;
  padding: 2.5rem;
}
.section3-features {
  display: block;

  padding-top: 5rem;
}
.section-3-features {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-evenly;
}
.section-3-features-1 {
  width: 50%;
}
.flex-no-shrink {
  flex-shrink: 0;
  margin-right: 2rem;
  overflow: hidden;
}
